body {
font-family: 'roboto';
margin: 0;
padding: 0;
} 

.header {
justify-content: space-between;
display: flex;
align-items: center;
background-color: #1F2937;
padding-left: 200px;
padding-right: 200px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
}
ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}